{{ define "main" }}
{{/* BEGIN CUSTOM: matiasilva - show title for non-blog pages */}}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ else }}
<h1>{{ .Title }}</h1>
{{ end }}
{{/* END CUSTOM */}}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

{{/* BEGIN CUSTOM: matiasilva - use relative URLs for tags */}}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{/* END CUSTOM */}}
{{ end }}
